body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(8, 8, 8);
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}
.header .navigation-items a{
    position: relative;
    color: black;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
.header .navigation-items a::before{
    content: '';
    position: absolute;
    background: #FE6244;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.header .navigation-items a:hover:before{
  width: 100%
}
h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.current {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

h2 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: disc;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
